/*Estilos Traduccion WEB MOBILE*/
*{
	/*no heredables*/
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
    background-size: cover;
	background-image:url("../images/burried.png");
}

/*CABECERA*/

.cabecera{
	background-color:white;
	width:800px;
	height:82px;
	float:left;
		/*Hack* retoma el alto al elemento padre, cuyos hijos flotan;
	overflow:auto;*/
}

.cabecera h1{
	color:#000000;
	font-size: 24px;
	font-style:bold;
	margin:35px;
	margin-left:0;
	float:left;
	list-style-type:none;
}
.cabecera img{
	float:left;
	margin:10px;
	margin-left:10;
}

/*CONTENEDOR*/
.contenedor{
	clear:both;
	width:346px;
	height:1180px;
	margin:auto;
	background-color:grey;
}

/*BOTONERA*/

.botonera{
	background-color:black;
	padding:10px 10px 20px 20px;
		
}

.botonera ul{
	background-color:black;
	list-style-type:none;
}
.botonera ul li a{
	background-color:black;
	padding:10px 10px;
	color:white;
	display:block;
	float:right;
	transition: all 0.5s;
	text-decoration:none;
}

.botonera ul li a:hover{
	background-color: #3f3f3f	;
	border-bottom:1px solid black;
}


/*SLIDER*/

.slider{
    background: url(images/slide/slide8.jpg) center center cover no-repeat fixed;
    float:left;

}

/*OBJETIVOS*/

.objetivos{
	margin:auto;
	margin-top:0px;
	text-align:center;
	padding:50px 50px;
	width:346px;
	height:285px;
    font-size:9;
    float:left;
	
}
.objetivo1, .objetivo2, .objetivo3{
	margin:auto;
	padding:20px 20px;
	margin-left:30px;
	width:250px;
	height:280px;
	font-size:9;
	border:2px solid black;
    font-family: 'Wendy One', sans-serif;
    float:left;
}

.objetivo1 p, .objetivo2 p, .objetivo3 p{
	font-family: 'Nunito', sans-serif;
}





/*PIE*/

.pie{
	margin:auto;
	margin-left:260px;
	margin-top:650px;
	padding:30px;
	width:800px;
	height:300px;
	font-size:9;
	clear:both;
	font-family: 'Righteous';
}
.direccion{
	font-size:12;
	
	
}
.telefono{
	font-size:10;
	

}



/*CONTACTO*/

.contacto div{
	margin-bottom: 15px;
}

.contacto input[type='text'], .contacto textarea{
	padding: 7px 6px;
	width:294px;
	border:1px solid #CED5D7;
	resize: none;
	box-shadow: 0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
}
.contacto input[type='text']:focus, .contacto textarea:focus{
	outline:none;
	box-shadow: 0 0 0 3px #dde9ec;
}

.contacto input[type='submit']{
	border:1px solid #CED5D7;
	box-shadow: 0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	background: #e4f1f6;
	background: -moz-linear-gradient(top,#edfcff 0%,#cfe6ef 100%);
	background: -webkit-linear-gradient(top,#edfcff 0%,#cfe6ef 100%);
}
	
.contacto input[type='submit']:hover{
	background: #edfcff;
	background: -moz-linear-gradient(top,#edfcff 0%,#cfe6ef 100%);
	background: -webkit-linear-gradient(top,#edfcff 0%,#cfe6ef 100%);
}

.contacto input[type='submit']:active{
	background: #cfe6ef;
	background: -moz-linear-gradient(top,#cfe6ef 0%,#edfcff 100%);
	background: -webkit-linear-gradient(top,#cfe6ef 0%,#edfcff 100%);
}
	

@media (max-width:767px){
	     .slider {
            background-image: url(images/slide/slide8.jpg);
        }
    }